Demo-Jfro/src/main/mule/jfrog0-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb253246-5768-4839-a657-eb958effd640" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="jfrog0-demoFlow" doc:id="5915d817-36e9-4c7a-93bc-cef87ceece4b" >
		<http:listener doc:name="Listener" doc:id="e57a6675-e87e-45d2-8015-76fe1a3983e4" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7b4cdcff-e45e-4054-bea4-9ac0046b833e" />
	</flow>
</mule>
